table {
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
input[type=submit] {
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
input[type=submit]:hover {
	cursor: pointer;
}
input[type=textfield] {
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 8px 18px;
}
/*.home {
	width: 44px;
	height: 18px;
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #066cf0;
}*/
.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 40px;
}
